@font-face {
 font-family: 'NexaBold';
 src: url(../fonts/NexaBold.woff);
}
@font-face {
 font-family: 'OpenSans';
 src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
 font-family: 'OpenSans-Light';
 src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
 font-family: 'OpenSans-SemiBold';
 src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
 font-family: 'Raleway-Bold';
 src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
 font-family: 'Raleway-SemiBold';
 src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
 font-family: 'Raleway-Medium';
 src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lzuouj');
  src:  url('../fonts/icomoon.eot?lzuouj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?lzuouj') format('truetype'),
    url('../fonts/icomoon.woff?lzuouj') format('woff'),
    url('../fonts/icomoon.svg?lzuouj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #dedede;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  transition: 0.3s;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 3.5px;
  text-decoration: none;
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-google-plus:hover{
    background: #db4437;
}
.icon-facebook:hover {
  background: #3B5998;
}
.icon-twitter:hover {
  background: #41ABE1;
}
.icon-dribbble:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e9bd";
}
@background-color:#24282f;
@gold:#b5a263;
@font1:'NexaBold';
@font2:'OpenSans';
@font2-2:'OpenSans-Light';
@font2-3:'OpenSans-SemiBold';
@font3:'Raleway-Bold';
@font4:'Raleway-SemiBold';
@font5:'Raleway-Medium';
body,html{
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
}
h1{
  color: #fff;
  text-transform: uppercase;
  font-family: @font3;
  font-size: 40px;
  line-height: 45px;
}
h2{
  color: #24282f;
  text-transform: uppercase;
  font-family: @font4;
  font-size: 24.31px;
  line-height: 20.26px;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    bottom: -30px;
    left: calc(~"50% - 39px");
    border-top: 2px solid @gold;
    width: 78px;
  }
}
h3{
  font-family: font2-3;
  color: @gold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}
.btn{
  color: #24282f;
  font-size: 16px;
  line-height: 24px;
  border:1px solid #24282f;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 13px 40px;
  font-family: @font2;
  transition: 0.5s;
  &:hover{
    background: #24282f;
    color: @gold;
  }
}
body{
  font-size: 16px;
  background-color: @background-color;

}
#header{
  max-width: 1440px;
  display: flex;
  margin: auto;
  padding: 0 50px;
  background: @background-color;
  position: relative;
}
.icon-menu{
  display: none;
}
.logo{
  text-transform: uppercase;
  color: #fff;
  font-size: 26px;
  float: left;
  margin: auto auto auto 0;
  line-height: 24px;
  display: flex;
  font-family: @font1;
  text-decoration: none;
  transition: 0.3s 0s;
  &:hover{
    color: #eaeaea;
  }
  &::before{
    content: '';
    background: url('/img/logo.png');
    width: 25px;
    height: 23px;
    margin-right: 30px;
    display: inline-block;
  }
}
@keyframes navigation {
  0%{
    left:50%;
    width: 0;
  }
}
.navigation{
  float: right;
  margin-right: -70px;
  a{
    line-height: 100px;
    font-size: 14px;
    font-family: @font2;
    line-height: 100px;
    padding: 32px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    &:hover, &.active{
      position: relative;
      &::after{
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        border-top: 2px solid @gold;
        width: 100%;
        animation: navigation 0.7s;
      }
    }
  }
}
.page_title{
  background-image: linear-gradient(to bottom, rgba(36, 40, 47, 0.961); 0%, rgba(36, 40, 47, 0.961) 100%), url('/img/layer7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 285px;
}
.breadcrumbs{
  max-width: 1452px;
  margin: auto;
  padding: 49px;
}
.management{
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 130px 0 30px;
  &__peoples{
    max-width: 1225px;
    margin: auto;
    display: flex;
    &-card{
      width: 33.33333%;
      margin: 50px;
      max-width: 310px;
    }
  }
  &__images{
    width: 100%;
    overflow: hidden;
    max-height: 300px;
    display: flex;
    justify-content: center;
    img{
      width: 100%;
      height: auto;
    }
  }
  &__description{
    display: flex;
    padding: 25px 10px 0;
    justify-content: space-between;
  }
  &__text{
    text-align: left;
    float: left;
  }
  &__name{
    color: #232323;
    text-transform: uppercase;
    font-size: 16px;
    font-family: @font5;
  }
  &__position{
    color: @gold;
    font-size: 14px;
    text-transform: capitalize;
    font-family: @font2;
  }
}
.social{
  display: flex;
  margin-right: -3.5px;
}
.feedback{
  width: 100%;
  background: #f7f7f7;
  text-align: center;
  padding: 110px 30px 35px;
  h2{
    &::after{
      border-top-color: #24282f;
    }
  }
  &__comments{
    max-width: 1195px;
    margin: 95px auto 75px;
    position: relative;
    text-align: center;
    .slick-arrow{
      position: absolute;
      top:55px;
      z-index: 300;
      font-size: 0;
      cursor: pointer;
      background: none;
      border:none;
      opacity: 0.5;
      transition: 0.3s;
      &:hover{
        opacity: 1;
      }
      &:focus{
        border: none;
        outline: none;
      }
      &::before{
        content: '';
        font-size: 28px;
        font-family: 'icomoon' !important;
      }
    }
    .slick-next{
      right: 25px;
      &::before{
        content: '\e900';
      }
    }
    .slick-prev{
      left: 25px;
      &::before{
        content: '\e901';
      }
    }
  }
  &__comment{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 150px;
  }
  &__text{
    font-size: 14px;
    line-height: 24px;
    font-family: @font2-2;
    color: #000;
    padding: 32px;
  }
  &__name{
    font-size: 16px;
    text-transform: uppercase;
    line-height: 24px;
    font-family: @font4;
    color: @gold;
  }
  &__position{
    font-size: 14px;
    line-height: 35px;
    color: #000;
    font-family: @font2;
    text-transform: capitalize;
  }
  &__image{
    margin: auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img{
      width: 120%;
      height: 120%;
    }
  }
}
#footer{
  background: #2b2f35;
  width: 100%;
  .social{
    float: right;
    [class^="icon-"], [class*=" icon-"]{
      background: transparent;
      border:1px solid #6e7279;
      color: #6e7279;
      margin: 0 5px;
      &:hover{
        background: @gold;
        border-color: @gold;
        color: #fff;
      }
    }
  }
}
.footer{
  padding: 60px 0 40px;
  max-width: 1195px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  &__block{
    max-width: 300px;
    margin: 0 36px;
  }
  &__text{
    color: #6e7279;
    font-family: @font2;
    font-size: 14px;
    line-height: 24px;
    a{
      color: #6e7279;
      font-family: @font2;
      font-size: 14px;
      line-height: 24px;
      cursor: pointer;
      text-decoration: none;
      &:hover{
        color: #eaeaea;
      }
    }
    form{
      width: 300px;
      input{
        width: 100%;
        color: #6e7279;
        font-family: @font2;
        font-size: 14px;
        line-height: 24px;
        background-color: transparent;
        border: 1px solid #6e7279;
        padding: 6px 12px;
        &:focus{
          outline: none;
        }
      }
      button{
        width: 100%;
        color: #6e7279;
        font-family: @font2;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        background-color: @gold;
        border: none;
        cursor: pointer;
        color: #fff;
        margin: 12px auto;
        padding: 7px;
        transition: 0.3s;
        &:hover{
          color: @gold;
          background: #6e7279;
        }
      }
    }
  }
  &-bottom{
    width: 100%;
    padding:16px 0;
    background: #24282f;
    &__content{
      max-width: 1195px;
      display: flex;
      padding: 0 36px;
      margin: auto;
      justify-content: space-between;
      .footer__text{
        line-height: 40px;
      }
    }
  }
}
@media screen and (max-width: 1680px){
  .navigation{
    margin-right: 0;
  }
}
@media screen and (max-width:1280px) and (min-width:768px){
  .management__peoples{
    justify-content: center;
    &-card{
      width: 50%;
      margin: 50px 30px;
      &:last-child{
        display: none;
      }
    }
  }
}
@media screen and (max-width:1024px){
  main{
    margin-top: 70px;
  }
  .navigation{
    position: absolute;
    max-width: 400px;
    width: 100%;
    right: -100%;
    top:100%;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.6s;
    &.active{
      right: 0;
    }
    a{
      width: 100%;
      display: inline-block;
      line-height: 10px;
    }
  }
  #header{
    padding: 15px 50px;
    position: fixed;
    width: 100%;
    top:0;
  }
  .icon-menu{
    cursor: pointer;
    color: @gold;
    background: transparent;
    display: block;
    font-size: 40px;
    transition: 0.3s;
    &:hover, &.active{
      color: #fff;
      transform: rotate(180deg);
    }
  }
  .management__peoples{
    flex-wrap: wrap;
    justify-content: center;
    &-card{
      width: auto;
    }
  }
  .feedback__comment {
    margin: 0 20px;
  }
  .feedback__comments {
    .slick-arrow{
      top:auto;
      bottom: -65px;
      &::before{
        content: '';
        font-size: 60px;
        font-family: 'icomoon' !important;
      }
    }
    .slick-next{
      right: calc(~"50% - 60px");
      &::before{
        content: '\e900';
      }
    }
    .slick-prev{
      left: calc(~"50% - 60px");
      &::before{
        content: '\e901';
      }
    }
  }
  .footer{
    flex-wrap: wrap;
    &__block{
      &:last-child{
        width: 80%;
        margin: 30px auto auto;

      }
      width: 50%;
    }
  }
}
